{
  "useTabs": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 120,
  

  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "tailwindConfig": "./tailwind.config.js"
}