<div class="container">
    <div *ngIf="loading" class="loading">
      Loading charts...
    </div>
    
    <div *ngIf="error" class="error">
      {{ error }}
    </div>
  
    <div *ngIf="!loading && !error" class="charts-grid">
      <div class="chart-container" *ngFor="let machine of chartOptions | keyvalue">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="machine.value"
          class="chart">
        </highcharts-chart>
      </div>
    </div>
  </div>