<ng-container *ngFor="let menuGroup of menuService.pagesMenu">
  <!-- Menu Group Header -->
  <div class="menu-group">
    <h3>{{menuGroup.group}}</h3>
    
    <!-- Menu Items -->
    <ng-container *ngFor="let item of menuGroup.items">
      <!-- Regular Menu Item -->
      <div class="menu-item" *ngIf="!item.children">
        <a [routerLink]="[item.route]" 
           routerLinkActive="active"
           class="menu-link">
          <svg-icon [src]="item.icon"></svg-icon>
          <span>{{item.label}}</span>
        </a>
      </div>

      <!-- Submenu -->
      <ng-container *ngIf="item.children && item.route">
        <app-sidebar-submenu 
          [submenu]="convertToSubMenuItem(item)">
        </app-sidebar-submenu>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
